@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.eot");
  src: url("/fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Bold.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Black.eot");
  src: url("/fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Black.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Black.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-BlackItalic.eot");
  src: url("/fonts/Roboto/Roboto-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-BlackItalic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-BlackItalic.woff") format("woff"),
    url("/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-ThinItalic.eot");
  src: url("/fonts/Roboto/Roboto-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-ThinItalic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-ThinItalic.woff") format("woff"),
    url("/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Italic.eot");
  src: url("/fonts/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Italic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Italic.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-LightItalic.eot");
  src: url("/fonts/Roboto/Roboto-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-LightItalic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-LightItalic.woff") format("woff"),
    url("/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-BoldItalic.eot");
  src: url("/fonts/Roboto/Roboto-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-BoldItalic.woff") format("woff"),
    url("/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-MediumItalic.eot");
  src: url("/fonts/Roboto/Roboto-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-MediumItalic.woff") format("woff"),
    url("/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.eot");
  src: url("/fonts/Roboto/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Thin.eot");
  src: url("/fonts/Roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Thin.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Thin.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Light.eot");
  src: url("/fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Light.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Light.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Medium.eot");
  src: url("/fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Medium.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Core Styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  margin: 0;
  margin-right: 0;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
a {
  transition: all 0.3s ease-in-out;
}
.to-uppercase {
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.blur-line {
  display: inline-block;
  position: relative;
  top: -2;
  margin-left: 0.32rem;
  width: 80px;
  height: 4px;
  background-color: rgba(237, 35, 159, 0.6);
  filter: blur(4px);
  border-radius: 0.25rem;
}

.main-header {
  position: fixed;
  background-color: white;
  top: 0;
  width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
  z-index: 10;
}

.main-header .container {
  display: flex;
  align-items: center;
}

.main-logo img {
  width: 64px;
}

.nav-button-top {
  display: inline-block;
  padding: 0.625rem;
}

.nav-button-top a {
  color: #c64deb;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75;
  font-weight: 550;
}

.nav-button-top a:hover {
  color: #146fb5;
}

.section-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #7017a3;
  margin-bottom: 1.25rem;
  letter-spacing: 2px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 420;
  color: #a31782;
  margin-bottom: 1.25rem;
  letter-spacing: 3px;
}

.button {
  color: white;
  background: linear-gradient(to right, #1800b5, #9c0857, #b399c4);
  background-size: 200% auto;
  border: none;
  margin-top: 1.875rem;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 1.25rem 2.5rem;
  border-radius: 0.32rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-position: right center;
}

/* Footer styles */
.footer {
  padding: 80px 0;
  background-color: #021017;
  text-align: center;
}

.footer_logo {
  width: 128px;
  margin: 0 auto; /* Centers the logo */
  display: block; /* Ensures the logo image takes up full width */
}

.footer_navigation_item {
  display: inline-block;
  padding: 0 10px;
}

.footer_navigation_item a {
  color: white;
  text-decoration: none;
}

.footer_socials {
  list-style: none;
}

.footer_social {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
  border-radius: 36px;
  color: #05364d;
  font-size: 1rem;
  margin-right: 12px;
}

.footer_social a {
  color: #021017;
}

.footer_social:hover {
  background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.footer_social:hover i {
  color: white;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 96%;
  }
  .main-navigation {
    display: none;
  }

  .footer_navigation {
    display: none;
  }
}
